* {
  font-family: Helvetica;
  margin: 0;
}

h1 {
  text-align: center;
}

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#navbar ul li {
  margin-left: 1em;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input {
  padding: 5px;
}
